.heading {
    background-image: url(index_images/kamehouse.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: center;
}


a:link {
    color: #FFD700;
}

.clock {
    color: #FFD700;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif; 
    letter-spacing: 7px;
    text-align: right;
}

#hiddenImage {
    display: none;
    margin-top: 20px;
    max-width: 100%;
}

.visible {
    display: block;
}

.projects {
    text-align: center;
    border: 5px solid black;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    height: 10%;
}

.container {
    height: 90%;
}