.heading {
    background-image: url(index_images/kamehouse.jpg);
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
    top: 0px;
    background-size: 2000px 2000px;
}


a:link {
    color: #FFD700;
}

.clock {
    color: #FFD700;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif; /* Link the font in HTML head */
    letter-spacing: 7px;
}