body {
  font: 1.2em / 1.5 sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

nav a:link,
nav a:visited {
  background-color: #ffd700;
  border: 2px solid #000000;
  border-radius: 0.5em;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 0.5em;
  display: inline-block;
  text-decoration: none;
}

.bigger {
  flex-grow: 4;
}

