.heading {
    background-image: url(images/forestedbg12.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #59524a;
}

.heading2 {
    background-image: url(images/forestedbg13.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #121212;
}

.heading3 {
    background-image: url(images/forestedbg15.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.heading4 {
    background-image: url(images/forestedbg4.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.heading5 {
    background-image: url(images/forestedbg11.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.tree-container {
    /*background-color: red;*/
    transform: rotate(180deg);
    width: 100%;
    height: 100px;
    
    display: flex;
    justify-content: center;
    justify-items: center;
    
}

.tree-spacer {
    width: 75px;
    height: -200px;
}

@keyframes tree {
    0% {background-color: rgb(102, 73, 29); height: 60px;}
    25% {background-color: rgb(102, 73, 29); height: 70px;}
    50% {background-color: rgb(102, 73, 29); height: 80px;}
    75% {background-color: rgb(102, 73, 29); height: 90px;}
    100% {background-color: rgb(102, 73, 29); height: 100px;}
}

.tree {
    width: 75px;
    height: 50px; 
    background-color: rgb(102, 73, 29);
    animation-name: tree;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: bottom;
}

.tree ::after {
    width: 90px;
    height: 30px;
    background-color: greenyellow;
}

.sign-container {
    width: 300px;
    height: 160px;
}

.sign {
    width: 300px;
    height: 80px;
    background-color: rgb(66, 50, 27);
    border-color: black;
}

.leftHitch {
    width: 10px;
    height: 80px;
    background-color: rgb(66, 50, 27);
    border-color: black;
}

.rightHitch {
    width: 10px;
    height: 80px;
    background-color: rgb(66, 50, 27);
    border-color: black;
    display: flex;
    justify-content: right;
    position: absolute;
}

.hitchSpace {
    width: 70px;
    height: 1px;
}

.tortoise {
    padding-left: 800px;
}

.SnappingTurtle {
    padding-left: 50px;
}
