/* Used for the background images on each page. */

.heading {
    background-image: url(images/forestedbg12.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #59524a;
}

.heading2 {
    background-image: url(images/forestedbg13.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: #121212;
}

.heading3 {
    background-image: url(images/forestedbg15.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.heading4 {
    background-image: url(images/forestedbg4.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.heading5 {
    background-image: url(images/forestedbg16.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* All the stuff used to create the tree on page 3. */

.tree-container-box {
    width: 100%;
    height: 20%;
    justify-content: center;
    display: flex;
}

.tree-container {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: baseline;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px, black, solid;
    transform:rotate(180deg);
}

.tree-leaves-container {
    width: 100%;
    height: 20%;
    animation-name: tree-leaves;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: top;
}

@keyframes tree-leaves {
    0% {background-color: green; height: 1px;}
    25% {background-color: green; height: 1px;}
    50% {background-color: green; height: 12px;}
    75% {background-color: green; height: 25px;}
    100% {background-color: green; height: 30px;}
}

.tree-leaves {
    width: 1px;
    height: 1px;
    background-color: green;
}

.tree-trunk-container {
    width: 50%;
    height: 10%;
    animation-name: tree;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    position: bottom;
    transform:rotate(180deg);
}

@keyframes tree {
    0% {height: 20%;}
    25% {height: 30%;}
    50% {height: 50%;}
    75% {height: 70%;}
    100% {height: 80%;}
}

.tree {
    width: 50%;
    height: 100%; 
    background-color: rgb(102, 73, 29);  
}

/* All the stuff used to create and style the sign on page 3. */

.sign-container {
    width: 300px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    background-color: rgb(13, 119, 218);
}

.sign {
    width: 100%;
    height: 50%;
    background-color: rgb(66, 50, 27);
    border: #000 2.5px solid;
    position: relative;
}

.hitchContainer {
    background-color: red;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    height: 50%;
    width: 100%;
}

.leftHitch {
    width: 10%;
    height: 100%;
    background-color: rgb(66, 50, 27);
    border: #000 2.5px solid;
    position: relative;
}

.rightHitch {
    width: 10%;
    height: 100%;
    background-color: rgb(66, 50, 27);
    border: #000 2.5px solid;
    position: relative;
}

.hitchSpace {
    width: 80%;
    height: 100%;
    position: relative;
    background-color: #FFD700;
}

/* Used for placing each turtle image on the pages, I know padding is jank, but whatever... */

.Tortoise {
    padding-left: 990px;
}

.Tortoise2 {
    padding-left: 145px;
    position: absolute;
}

.SnappingTurtle {
    padding-left: 50px;
}

.SkyTurtle {
    padding-left: 1120px;
    position: absolute;
    top: 0;
    left: 0;
}

.BoxTurtle {
    padding-left: 1500px;
    position: relative;
}

/* This is the stuff for the HTML tree on page 2. */

.asciiLeaves {
    color: lawngreen;
}

.asciiBark {
    color: rgb(82, 75, 40);
}

/* This is the clock on page 4. */

.clock {
    color: #FFD700;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif; 
    letter-spacing: 7px;
    text-align: right;
    position: relative;
}

/* Used for styling the links. */

a:link {
    color: #FFD700;
    font-weight: bold;
}

a:visited {
    color: #FFD700;
    font-weight: bold;
}

/* These are used to style the text seen on the 5 pages. */

.text4pg1 {
    font-size: 23px;
    font-weight: bold;
    color: rgb(236, 203, 12);
    text-shadow: #000000 3px 1px;
    -webkit-text-stroke: 1px #000;
}

.text4pg2 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.text4pg3 {
    font-size: 23px;
    font-weight: bold;
    color: rgb(145, 255, 0);
    text-shadow: #ffffff 3px 1px;
    -webkit-text-stroke: 1px #000;
}

.text4pg4 {
    font-size: 19.5px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: #000000 2px 1px;
    -webkit-text-stroke: 1px #000;
}

.text4pg5 {
    font-size: 23px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}
